@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f5eaea;
}
.header{
    background-color: #f5f3f3;
    width: 100%;
    height: 30vh; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.logo img{
    object-fit: cover;
    height: 100%;
}


.navbar{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: first baseline;
    margin-top: 90px;
    
}

.navbar ul{
    list-style-type: none;
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgba(136, 5, 5, 0.95);
}

.menu > li{
    display: inline-block;
}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    text-decoration: none;

}
.navbar a{
    padding: 0 30px;
    color: black;
    display: block;
    text-decoration: none;
    font-weight:600;
    font-size: 20px;
    font: bold;
    transition: color 0.3s ease-in-out;
}

.menu li a:hover{
    color: rgba(194, 20, 20, 0.959);  color: rgba(136, 5, 5, 0.959)
    transition: all 0.3s;
}

.submenu{
    position: absolute;
    display: none;
    display: flex;
    background-color: rgba(114, 5, 5, 0.959);  color: white; #e0dbde
    opacity: 0;
    visibility: hidden;
    transition:  opacity 1.5s;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: -90px;
}

.submenu li a{
    display: block;
    color: white;
    text-decoration: none;
    display: flex;
    padding: 15px;
    margin-top: 10px;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
    
}

.section1{
    background-image: url(../imagenes/banner-desayunos2.png);
    background-size: 1400px;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    align-items: center;
    justify-content: center;
    border-top: 3px solid rgba(136, 5, 5, 0.959);
    border-bottom: 3px solid rgba(136, 5, 5, 0.959);
}

.section2 {
    background-color: #f5eaea;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

}

.section2 h2{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: rgba(136, 5, 5, 0.959);
    font: bold;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 2);
    margin-bottom: 50px;
    padding: 0 10px;
}


.section3 {
    background-color: #f5eaea;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: #131212;
    margin-bottom: 150px;
    
} 

.producto{
    width: 25%;
    height: 95%;
    border: 2px solid #858181;
    margin: 0 1%;
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 2);
    cursor: default;
    transition: all400ms ease;
}

.producto:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.foto{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}
.foto img{
    object-fit: cover;
    width: 100%;
}

.textos{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10% 20px;
}
.textos h3{
    font-size: 24px;
    color: white; 
    border: 2px solid rgb(114, 5, 5);
    background-color: rgb(121, 3, 3);
    padding: 5px 15px;

}

.textos p{
    font-size: 16px;
    margin: 20px 0;
    font-weight: 700px;
    color: black;
    text-align: justify;
}

.textos a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    border: 2px solid rgb(114, 5, 5);
    padding: 5px 15px;
}
.textos a:hover{
    background-color: rgba(114, 5, 5, 0.959);  color: white;
}
    

.texto-pie{
    background-color: #0a0909;
    width: 100%;
    height: 25vh; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.piederecho {
    font-size: 14px;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
}

.piemedio {
    font-size: 14px;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.pieizquierdo {
    font-size: 14px;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;   
    margin: 10px 0;
}